/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 80%;
  margin: 0 auto;
  
  

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
   

}

.logo h1 {
  margin: 0;
}

.menu {
  text-align: right;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  display: inline-block;
  margin-left: 20px;
}

.menu-list a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu-list a:hover {
  background-color: #575757;
  border-radius: 5px;
}

main {
  padding-top: 60px; /* Espaço para o menu fixo */
}

.hero {
  background: url('background.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  background-color: #f90;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e80;
}

section {
  padding: 60px 0;
  background-color: #fff;
}

section:nth-of-type(even) {
  background-color: #f4f4f4;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

p {
  color: #555;
  text-align: center;
  line-height: 1.6;
  margin: 0 auto;
  width: 70%;
}

.servicos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.servico {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servico h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #575757;
}